.box h5 {
    background-color: #CCCCCC;
    color: #EEEEEE;
    text-align: left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;  
    font-size: 1em;
    margin: 0 0 0.2em;
    padding: 4px;
    text-align: center;  
}

.box {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.9167em;
    margin: 10px 10px 10px 0;
    padding: 0 0 5px;
    width: 45%;
}

pre {
    background-color: #EEEEEE;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin: 5px;
    max-height: 600px;
    overflow: auto;
    padding: 5px;
    width: 95%;
	font-size: 12px;
}

